@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
*{
    
    box-sizing: border-box;
}
.name{
    border: 2px solid bisque;
    background-image: url(assets/back.jpg);
}
.myimg{
   
    margin-top: 30px;
    width: 20vw;
    height: 50vh;
    margin-left: 40%;
    border: 2px solid #030329;
    border-radius: 10px;
}

.name h2{
    margin-top: 20px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 700;
    color: white;
}
.name h3{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
     font-weight: 700;
     color: white;
}
.about{
    margin-top: 10px;
    background-color: #030329;
    border: 2px solid rgb(29, 1, 95);
    margin-left: 7px;
    margin-right: 7px;
}
.about h2{
    color: white;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
     font-weight: 700;

}
.about h3{
    color: white;
    font-family: "Merriweather", serif;
    font-size:17px;
    font-weight: 300;
    font-style: normal;
    margin-left: 10px;
    line-height: 1.6;
    word-spacing: 2px;
}
.work{
    margin-top: 10px;
    background-color: #030329;
    border: 2px solid rgb(29, 1, 95);
    margin-left: 7px;
    margin-right: 7px;

}
.work h2{
    color: white;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
     font-weight: 700;
}
.i1{
    margin-left: 6.5vw;
    width: 20vw;
    height: 30vh;
    margin-bottom: 20px;
    border: 2px solid burlywood;
}
.i2{
    margin-left: 1vw;
    width: 20vw;
    height: 30vh;
    margin-bottom: 20px;
    border: 2px solid burlywood;
    
}
.i3{
    margin-left: 1vw;
    width: 20vw;
    height: 30vh;
    margin-bottom: 20px;
    border: 2px solid burlywood;
    
}
.i4{
    margin-left: 1vw;
    width: 20vw;
    height: 30vh;
    margin-bottom: 20px;
    border: 2px solid burlywood;
    
}
footer{
    margin-top: 10px;
    background-color: #030329;
    border: 2px solid rgb(29, 1, 95);
    
}
footer h3{
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
     font-weight: 700;
}
.a{
    margin-left: 47vw;
    margin-bottom: 5vh;
    text-decoration:none ;
    color: rgb(0, 0, 0);
    background-color: rgb(120, 103, 197);
    border: 2px solid rgb(214, 212, 216);
    border-radius: 3px;
    padding: 3px;
}
.a:hover{
    color: rgb(248, 245, 252);
}
@media screen and (max-width:400px) {
    .myimg{
       margin-left: 50px;
       width: 60vw;
       height: 40vh;
       
    }
    .name h3{
        font-weight: 700;
        font-size: 0.8rem;
    }
    
}